{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"] // allows you to write React code in ".js" and ".jsx" files
      }
    ],
    "prettier/prettier": "error",
    "max-len": ["error", 120] // lines can be 120 characters long before they should break
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack-common-config.js" // allows you to write aliases in webpack (super helpful!)
      }
    }
  }
}
